<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>

	<!--	<add name="Persona"
				connectionString="Data Source=SQL5109.site4now.net;Initial Catalog=db_a7f258_persona;User Id=db_a7f258_persona_admin;Password=15022001cahz."
				providerName="System.Data.SqlClient" />-->




		 <add name="Persona"
				connectionString="data source=DESKTOP-F5M8TGN;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;user id=sa;"
				providerName="System.Data.SqlClient" />   
		
    
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
